<%- include("./partials/header.ejs") %>
  <body>
    <ul class="list-group list-group-flush">
      <% for (let dt of data) { %>
          <li class="list-group-item">
            <strong>name:</strong>
          <a href="/user/<%= dt._id%>">
             <%= dt.name %> </a></li>
        <% } %>
        <br><br>
        <a href="/">create another user</a>
    </ul>
    <%- include("./partials/footer.ejs") %>
