<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>hi</p>
    <h3> name: <%= data.name %></h3>
    <h3>age: <%= data.age %></h3>
    <h3>about:  <%= data.about %></h3>
    <h3>contact: <%= data.number %></h3>

    <a href="/all">see all users</a>
    <br><br>
    <a href="/">create another user</a>
  </body>
</html>
